body{
    background-color: rgb(199, 194, 194);
}
.container {
    width: 70%;
}
.judul-trf{
    color: whitesmoke;
    background-color: darkgreen;
}
.judul-trf h1{
    margin-left: 1%;
    padding: 0px;
}
#iklan-kanan{
    margin-top: -5%;
    background-size: cover;
    background-image: url(../img/iklan-kanan.jpg);
    background-attachment: fixed;
}
.bg-media{
    background-color: white;
}
.media img{
    width: 40%;
}